@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-campus-bg-top: #0A664F;
  --color-campus-bg-bottom: #0A0A0A;
  --color-campus-text: #A3B8B2;
  --color-campus-accent: #14C89B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
